# /etc/systemd/system/maxipool-snapshot.service
[Unit]
Description=MaxiPool Snapshot Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
EnvironmentFile=/home/ec2-user/.chia/maxipool.env
WorkingDirectory=/home/ec2-user/pool-reference
ExecStart=/home/ec2-user/pool-reference/venv/bin/python -m pool.snapshot
StandardError=syslog
SyslogIdentifier=maxipool-snapshot
StartLimitInterval=0
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
